html
    head
    body
        -for (let i = 0;i <arr.length;i++)
         div=arr[i]
        div!=ccc
            let n = 2
            case n
              when 0
                  div a
              when 1
                  div b
              when 2
                  div 2
              default
                  div default



