html
    head
        style
        script
            | let a = 10
    body
        div.
           | abc
           | ccc
           | ddd
           my name is #{name}
        script
            include world.js