<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Radio</title>
</head>
<body>




    <div id="app">
        <!--select 通过监听onchange事件获取选中option 的value -->
        <select v-model="s">
            <option value="" disabled>please select</option>
            <!-- 如果value属性不写,则取option的值 -->
            <option value="1">Hey</option>
            <option value="2">Job</option>
            <option value="3">Tom</option>
            <option value="4">Jack</option>
        </select>
        {{s}}

        <div>
            <!-- 单选按钮 也需使用 value  -->
            <input type="radio" v-model="r" value="m">Man
            <input type="radio" v-model="r" value="w">Woman
            <p>
                {{r}}
            </p>
        </div>
    </div>

    <!--// vue 使用 v-model-->
<script src="./node_modules/vue/dist/vue.js"></script>

<script>

//  <!-- 原生js方法 示例-->
//    select.onchange = function () {
//        console.log(this.value);
//    }




    let vm = new Vue({
        el: '#app',
        data: {
            s: '',
            r: 'm'

        }
    })
</script>


</body>
</html>