<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo</title>
</head>
<body>


    <div id="app">


        <!-- keydown 在vue中可以使用修饰符来指定具体按键触发响应 -->
        <input type="text" v-model="msg" @keydown.enter="updateTodo">

        <ul>
            <li v-for="(item,index) in todos">
                {{item}}
                <button @click="deleteItem(index)">delete</button>
            </li>
        </ul>



    </div>





<script src="./node_modules/vue/dist/vue.js"></script>


<script>
    let vm = new Vue({
        el: '#app',
        data: {
            msg:'',
            todos:[]
        },
        methods:{
            updateTodo(){
                    this.todos.unshift(this.msg)
                    this.msg = ''

            },
            deleteItem(arg){
                console.log(arg);
                this.todos.splice(arg,1)
            }

        }
    })
</script>
</body>
</html>